/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "font-awesome";
 @import 'font-awesome.css';

 // body {
 //   background: image-url("Flatiron-School.jpg") no-repeat center center fixed;
 //   background-size: cover;
 //   -webkit-background-size: cover;
 //   -moz-background-size: cover;
 //   -o-background-size: cover;
 //   overflow: hidden;
 //   height: 100%;
 //   margin: 0px;
 //   padding: 0px;
 //   width: 100%;
 // }
* {
  margin: 0;
  padding: 0;
}

.error-msg {
  color: red;
}
 // ########################## HEADER ##########################
 .header {
   display: flex;
 }

 .header-left {
   align-items: center;
   display: flex;
   margin-left: 10px;
   margin-top: 10px;
   img {
     max-height: 50px;
     max-width: 50px;
   }
   h2 {
     margin: 0;
     font-family:"Billabong";
     src:asset-url("Billabong.woff") format("truetype");
     padding-left: 20px;
   }
 }

 .header-right {
   margin-left: auto;
   order: 2;
 }

 // ########################## BACKGROUND ##########################
 .background {
   background: image-url('Flatiron-School.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position:fixed;
   padding:0;
   margin:0;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
 }


// ########################## LOGIN ##########################
 @font-face{
   font-family:"Billabong";
   src:asset-url("Billabong.woff") format("truetype");
 }

 .login-form {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 20rem;
   h1, h6 {
     text-align: center;
   }
   .card-subtitle {
     color: #999;
   }
   .card-title {
     font-family:"Billabong", cursive;
   }
 }

 .login-input {
   margin: 7px 0px 0px 0px;
   padding: 5px;
   width: 100%;
 }

 .login-btn {
   margin-top: 10px;
   width: 100%;
 }

 .logout-button {
   float: right;
   margin: 10px;
 }

// ########################## USER ##########################
.profile {
  display: flex;
}

.profile-name {
  font-family: 'Raleway', sans-serif;
}

.user-profile {
  margin-left: 40px;
  max-width: 60%;
}

.user-show {
  padding-top: 10px;
}
.user-info {
  display: flex;
  justify-content: space-around;
}

.post-buttons {
  display: flex;
  margin-top: 40px;
  .create-post {
    margin-left: 10px;
  }
}

.user-post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px;
  margin-top: 40px;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.user-posts {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 33%;
  @media screen and (max-width: 800px) {
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  .user-posts-location h6 {
    text-align: center;
  }
  .user-posts-image {
    border: 1px solid black;
    height: 293px;
    width: 293px;
    img {
      // max-height: 290px;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    button {
      height: 100%;
      width: 100%;
    }
  }
}

.user-image {
  border-radius: 50%;
}

.post-image {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.edit-form {
  background-color: #f5f5dc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  margin-top: 200px;
  margin-bottom: 40px;
}

.edit-user-avatar {
  display: flex;
  justify-content: space-evenly;
  div {
    margin: 0 auto;
  }
}

.back-btn {
  max-width: 100px;
}

.edit-name-bio {
  display: flex;
  flex-direction: column;
  .edit-blocks {
    div {
      display: flex;
      justify-content: center;
    }
  }
}

// ########################## POST ##########################
.post-show {
  display: flex;
  flex-direction: column;
  width: 100%;
  img {
    display: block;
    margin: 0 auto;
    min-height: 350px;
    min-width: 350px;
  }
}

.post-container {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 500px;
}

.post-show-block {
  display: flex;
  .post-show-image img {
    max-height: 293px;
  }
}

.post-show-image {
  width: 60%;
}

.post-back-button {
  margin: 10px;
}

.post-individual {
  display: block;
  border: 1px solid black;
  max-height: 500px;
  width: 90%;
  justify-content: space-around;
  position:relative;
  overflow: scroll;
  margin: 0 auto;
  margin-bottom: 40px;
  .post-individual-image {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .post-individual-profile {
    display: flex;
    padding-top: 10px;
    .post-individual-profile-info {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
    }
  }
}

.post-individual-pic-post {
  img {
    border-radius: 50%;
  }
}

.post-individual-right {
  margin-left: 40px;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.post-individual-comment {
  display: flex;
  flex-direction: column;
  img {
    border-radius: 50%;
  }
  .post-individual-comment-profile {
    display: flex;
  }
  .post-individual-comment-content {
    padding-left: 5%;
  }
}

.post-individual-comment-message {
  border: 1px solid black;
  background-color: #f5f5dc;
  margin-bottom: 40px;
  padding: 10px;
}

.post-individual-icons {
  display: flex;
  justify-content: space-around;
  max-width: 50%;
}

.hearticon {
  color: grey;
}

.edit-field {
  background-color: #f5deb3;
}

.edit-back {
  display: flex;
  .edit-btn {
    margin-top: 10px;
  }
}

.navbar {
  width: 100%;
}

.logout-button {
  word-spacing: 2em;
  line-height: 90px;
}

.nav-buttons {
  display: flex;
  @media only and (max-width: 800px) {
    flex-direction: column;
  }
  div {
    margin: 20px;
  }
}
.logout {
  display: block;
  position: relative;
  float: right;
}

// test
.test-box {
  padding-top: 10px;
  padding-left: 30px;
  height: 400px;
  overflow-y: scroll;
  width: 100%;
  .test-box-img-name-location-caption {
    display: flex;
  }
}

.test-box-left {
  height: 400px;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.test-box-main {
  // border: 1px solid black;
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
}

.test-box-columns {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.test-box-img-left {
  img {
    border-radius: 50%;
  }
}

.analytics {
  padding: 40px 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.delete-post-btn {
  max-width: 100px;
}

.user-posts-image {
  margin-top: 20px;
}
